.project-post-text,
.project-post-position,
.project-post-title,
.project-post-description {
  margin: 0;
  padding: 0;
}

.project-post-link {
  text-decoration: none;
}

.project-post-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
}

.project-post-title {
  font-size: 20px;
  font-weight: 600;
  text-decoration: underline;
  margin-bottom: 6px;
}

.project-post-text {
  font-size: 14px;
}

.project-post-description {
  font-size: 14px;
  font-weight: 500;
}

.project-post-details {
  display: flex;
  flex-direction: row;
  grid-gap: 8px;
}

.project-post-period {
  display: flex;
  flex-direction: row;
  grid-gap: 8px;
}

