.about-avatar-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 16px;
  margin-top: 64px;
  margin-bottom: 64px;
}

.about-avatar-wrapper {
  margin: auto;
  width: 128px;
  height: 128px;
  border-radius: 128px;
  filter: grayscale(1);
}

.about-avatar-image {
}

.about-avatar-email-container {
  background-color: #2E7267;
  border-radius: 64px;
  padding: 6px 12px;
  margin: auto;
  display: flex;
  align-items: center;
}

.about-avatar-email-link {
  text-decoration: none;
  font-size: 14px;
}

