.container {
  padding-bottom: 64px;
}

.content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  grid-gap: 32px;
  min-width: 300px;
  width: 80vw;
  max-width: 600px;
  margin: auto;
}



body {
  padding: 40px;
}


@keyframes fadeInUp {
  from {
    transform: translate3d(0,40px,0)
  }

  to {
    transform: translate3d(0,0,0);
    opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0,40px,0)
  }

  to {
    transform: translate3d(0,0,0);
    opacity: 1
  }
}

@media (prefers-reduced-motion: no-preference) {
  .animated {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: both
  }

  .animatedFadeInUp {
    opacity: 0
  }

  .fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
  }
}

