@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
    --color-primary: #49c224;
    --color-primary-alt: #39901f;

    --color-secondary: #9d71f7;
    --color-secondary-alt: #9e82d7;

    --color-tertiary: #ff32b1;
    --color-tertiary-alt: #de6ab2;

    --color-quaternary: #f2994a;
    --color-quaternary-alt: #d87e39;

    --color-black: #1e1e1e;
    --color-black-alt: #3b3b3b;

    --color-white: #f1f1f1;
    --color-white-alt: #b4b4b4;

    --animate-shimmer: shimmer 1.5s infinite;
}

.shimmer-loading::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
    animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

:root {
    --sh-class: var(--color-tertiary);
    --sh-identifier: var(--color-primary);
    --sh-sign: var(--color-primary-alt);
    --sh-property: var(--color-tertiary-alt);
    --sh-entity: var(--color-secondary);
    --sh-jsxliterals: var(--color-white-alt);
    --sh-string: var(--color-secondary-alt);
    --sh-keyword: var(--color-white-alt);
    --sh-comment: var(--color-black-alt);
}

:focus {
    outline-color: var(--color-primary);
    border-color: transparent;
}

::selection {
    background-color: var(--color-primary);
    text-decoration: var(--color-white);
}

html {
    scrollbar-gutter: stable;
}

body {
    text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

code {
    text-wrap: wrap;
}

code span::selection {
    background-color: var(--color-primary);
    color: var(--color-white);
}

pre {
    padding: 20px;
    border: 1px solid var(--color-black-alt);
    border-radius: 12px;
    font-size: 14px;

    @media (min-width: 920px) {
        max-width: 900px;
        margin-left: -130px;
        margin-right: -130px;
        padding-left: 40px;
    }
}

ol + pre,
ul + pre {
    padding: initial;
    border: initial;
    border-radius: initial;
}
