@import '../variables.css';

/* burger css implementation taken from https://codepen.io/erikterwan/pen/EVzeRP */

.header-mobile-burger-wrapper {
  padding-top: 32px;
  z-index: 10000;
  -webkit-user-select: none;
  user-select: none;
}

.header-mobile-burger-logo-container {
  justify-self: center;
  align-self: center;
  z-index: 4;
}

.header-mobile-burger-logo {
  position: absolute;
  top: 32px;
  left: 50%;
  right: 50%;
  margin-left: -18px;
  z-index: 1001;
}

.header-mobile-burger-logo-image {
  width: 36px;
  height: 36px;
}

.header-mobile-burger-toggle {
  position: absolute;
  top: 36px;
  /*right: 32px;*/
  width: 48px;
  height: 48px;

  grid-area: nav;
  cursor: pointer;

  margin: 0 !important;
  opacity: 0 !important; /* hide this */

  -webkit-touch-callout: none;
  z-index: 1002;
}

.header-mobile-burger-icon {
  z-index: 1001;
  position: absolute;
  top: 36px;
  /*right: 32px;*/
  width: 64px;
  height: 64px;

  display: block;
  width: 33px;
  height: 2px;
  margin-bottom: 8px;

  background: white;
  border-radius: 4px;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.6s ease,
              margin-top 0.5s ease-in-out;
}

.header-mobile-burger-wrapper span:first-child
{
  transform-origin: 0% 0%;
}

.header-mobile-burger-wrapper span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
.header-mobile-burger-wrapper input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  margin-top: 6px;
}

/*
 * But let's hide the middle one.
 */
.header-mobile-burger-wrapper input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
.header-mobile-burger-wrapper input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

.header-mobile-burger-nav {
  grid-area: nav;
  z-index: 1000;
  position: fixed;
  right: 0;
  top: 0;

  padding-left: 32px;
  padding-right: 32px;
  width: 100vw;
  height: 100vh;

  pointer-events: none;

  background-color: black;
  backdrop-filter: blur(10px);

  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transition: opacity 0.2s ease-in-out;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.header-mobile-burger-item {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  grid-gap: 48px;
  margin: auto !important;
  margin-top: 128px !important;
  max-width: var(--max-width);
  margin-left: 18px !important;
  margin-right: 18px !important;
}

.header-mobile-burger-divider {
  background-color: white;
  height: 2px;
  border-radius: 4px;
  width: 100%;
}

.header-mobile-item-active, .header-mobile-item-inactive {
  font-size: 16px;
  text-decoration: none;
}

.header-mobile-item-active {
  font-weight: 800;
}

/*
 * And let's slide it in from the left
 */
.header-mobile-burger-toggle:checked ~ .header-mobile-burger-nav
{
  pointer-events: unset;
  transform: none;
}

.header-mobile-burger-toggle:checked ~ .header-mobile-burger-icon {
  position: fixed;
}

.header-mobile-burger-toggle:checked ~ .header-mobile-burger-logo {
  position: fixed;
}

.header-mobile-burger-toggle:checked {
  position: fixed;
}

.header-mobile-burger-subline, .header-mobile-item-active, .header-mobile-item-inactive {
  font-size: var(--font-lg)
}
