@import './variables.css';

.header-container, .header-container-open {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;

}

.header-container-open {
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  backdrop-filter: blur(10px);

  position: fixed;
  max-width: 100vw;
  height: 100vh;
}

.header-content, .header-content-open {
  margin: auto;
  width: 80vw;
  min-width: var(--min-width);
  max-width: var(--max-width);
}

.header-content-open {
  height: 100vh;
}

.header-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 64px;
}

.header-items {
  display: flex;
  flex-direction: column;
  grid-gap: 48px;
}

.header-divider {
  background-color: white;
  height: 2px;
  border-radius: 4px;
}

.header-subline, .header-items {
  font-size: var(--font-lg)
}

.header-logo {
  justify-self: center;
}

.header-burger {
  justify-self: flex-end;
}

.header-burger {
  background-color: var(--primary);
  border: 0;
}
