.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'empty logo nav';
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: var(--space-6);
  padding-bottom: var(--space-5);
}

.header-logo-container {
  height: 48px;
  width: 48px;
  grid-area: logo;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
}

.header-logo {
  height: 32px;
  width: 32px;
}

.header-item-active, .header-item-inactive  {
  text-decoration: none;
  font-size: var(--font-md);
}

.header-item-active {
  font-weight: 700;
}

.header-item-container-desktop {
  display: none;
}

.header-item-container-mobile {
  display: flex;
  grid-area: nav;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.header-burger {
  width: 32px;
  height: 32px;
}

@media (min-width: 680px) {
  .header {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'logo nav';
  }

  .header-item-container-mobile {
    display: none;
  }

  .header-item-container-desktop {
    display: grid;
    grid-area: nav;
    justify-items: flex-end;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .header-logo-container {
    justify-self: flex-start;
  }
}


